

MAILER_EMAIL = 
MAILER_SECRET_KEY = 


MAILER_SERVER = gmail
MAILER_EMAIL = herrob1982@gmail.com
MAILER_SECRET_KEY = srmisrcewifkqunr
PORT = 3000
PROD = false


MONGO_URL = mongodb://herrob1982:123456@localhost:27017/
MONGO_DB_NAME = NOC
MONGO_USER = herrob1982
MONGO_PASSWORD = 123456

POSTGRES_USER = postgres
POSTGRES_PASSWORD = 123456  
POSTGRES_DB = NOC

